@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hahmlet';
  src: url('~/assets/fonts/Hahmlet-Regular.woff2') format('woff2'),
    url('~/assets/fonts/Hahmlet-Regular.ttf') format('truetype');
}

body {
  font-family: 'Hahmlet';
}
